<div fxLayoutAlign = "center center"  fxLayout="row" fxFlexFill>
    <div class="logo" fxLayoutAlign = "center center">
      <img src="../../assets/images/BridgeLabz New Logo.svg" alt="logo" style="width: 70%; height: 90%;"/>
    </div>
      <mat-card fxFlex="35" class="login_card">
          <form fxLayoutAlign="stretch" fxLayout="column">
             <h1 fxLayoutAlign = "center center">Welcome To Home Page</h1>
             <h5 fxLayoutAlign = "center center">You have successfully Login!!</h5>
              <div fxLayoutAlign = "center center">
                <button mat-raised-button type="button" (click)="onLogout()" class="login_button">Logout</button>
                </div>
            </form>
      </mat-card>
    </div>